#container{
    width: 1000px;
    margin: 0 auto;
}
div{
    padding: 15px;
    border: 1px solid gray;
}
#header{
    padding: 15px;
    margin-bottom: 20px;
    border:1px solid gray;
}
#left-sidebar{
    width:150px;
    margin-right:20px;
    float:left;
}
#contents{
    width:564px;
    margin-right: 20px;
    float: left;
    margin-bottom: 20px;;
}
#right-sidebar{
    width:150px;
    float: right;
}
#footer{
    clear:both;
    border:1px solid gray;
    padding:15px;
}